html {
    margin-top: -20px;
    min-width: 400px;
}
body {
    background-color: #f1f3f4;
    font-family: "Comic Sans MS", cursive, sans-serif;
    /*background-image: url('whiteHouse.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

header {
    text-align: center;
    height: 120px;
    background-image: url('flag.jpg');
    color: #E11E26;
}
header > h1 {
    font-size: 50px;
    padding-top:15px;
    font-weight: bold;
}
header > h3 {
    margin-top: 4px;
}
#visible {
    padding-bottom: 10px;
}
#score {
    padding-top:25px;
}
img {
    border-radius: 5px;
}
.donaldRock, .donaldPaper, .donaldScissors, .hillaryRock, .hillaryPaper, .hillaryScissors {
    display: none;
}
.donald, .donaldRock, .donaldPaper, .donaldScissors {
    margin-right:20px;
    width: 300px;
    float:right;
}
.hillary, .hillaryRock, .hillaryPaper, .hillaryScissors {
    margin-left:20px;
    width: 300px;
    float:left;
    /*display:inline-block;*/
}
#donaldCount {
    float:left;
    width: 50px;
    /*border: 1px solid black;*/
}
#hillaryCount {
    /*border: 1px solid black;*/
    width: 50px;
    float: right;
}
#score {
    text-align: center;
}
#rps {
    font-size:32px;
    display: none;
    bottom:0;
}
#donaldChoice {
    text-align:right;
    padding-right:20px;
}
#hillaryChoice {
    padding-left: 20px;
}
div span {
    font-size: 55px;
}
.donald:hover, .hillary:hover, .rock:hover, .paper:hover, .scissors:hover { cursor: pointer; }
.buttons {
    padding-top: 40px;
}

#hidden {
    display:none;
    text-align: center;
}
#hidden > img {
    margin: 0 20px 0;
}

#visible {
    display:block;
}
.modal-title {
    font-size: 24px;
}
.modal-body, .modal-header {
    text-align:center;
}
.modal-footer {
    text-align: center;
}
.rock, .paper, .scissors {
    border: 2px solid black;
}

@media screen and (max-width: 768px) {
        header > h1 {
            font-size: 40px;
        }
        div > h1 {
            font-size: 30px;
        }
        div span {
            font-size:34px;
        }
        .hillary, .hillaryRock, .hillaryPaper, .hillaryScissors {
            margin-left:0;
            width: 85%;
        }
        .donald, .donaldRock, .donaldPaper, .donaldScissorss {
            margin-right:0;
            width:85%;
        }
        .rock, .paper, .scissors {
            width:25%;
        }
        #rps {
            font-size:20px;
        }
}
@media screen and (max-width: 480px) {
        header > h1 {
            font-size: 30px;
        }
        div > h1 {
            font-size: 28px;
        }
        div span {
            font-size:24px;
        }
        .rock, .paper, .scissors {
            width:120px;
        }
        #rps {
            font-size: 16px;
        }
}
@media screen and (max-width: 400px) {

}